# URL de conexão com o banco PostgreSQL
# Formato: postgresql://USUARIO:SENHA@HOST:PORTA/NOME_DO_BANCO
DATABASE_URL="postgresql://postgres:senha123@localhost:5432/empreendimentos_sc"

# Porta em que a API irá rodar
PORT=3000
